{# @var community \Mobicoop\Bundle\MobicoopBundle\Community\Entity\Community #}
{% extends '@Mobicoop/base.html.twig' %}

{# {% block title %}{% trans from 'ui' %}events.event.title{% endtrans %} - {{ app_name }}{% endblock %} #}
{% block title %}{% trans with {'EventName': event.name} from 'meta' %}meta.event.title{% endtrans %}{% endblock %}
{% block desc %}{% trans with {'EventName': event.name} from 'meta' %}meta.event.description{% endtrans %}{% endblock %}

{% block stylesheets %}
    {#{{ encore_entry_link_tags("#{assets_prefix ?? ''}community/community") }}#}
{% endblock %}
{% block main %}
    <event
        :event="{{ event|json_encode }}"
        :geodata="{{ {'geocompleteuri':geoCompleteUri, 'searchroute':searchRoute}|json_encode }}"
        :geo-complete-results-order="{{geoCompleteResultsOrder|json_encode}}"
        :geo-complete-palette="{{geoCompletePalette|json_encode}}"
        {{ geoCompleteChip ? 'geo-complete-chip' : '' }}
        :user="{{ app.user|json_encode }}"
        :map-provider="{{ mapProvider|json_encode }}"
        :url-tiles="{{ urlTiles|json_encode }}"
        :attribution-copyright="{{ attributionCopyright|json_encode }}"
        url-alt-avatar="{{ event.defaultAvatar }}"
        :init-origin = "{{ origin is defined ? origin : 'null' }}"
        :init-destination = "{{ destination is defined ? destination|json_encode : 'null' }}"
        {{ searchPunctualDate ? 'punctual-date-optional' : '' }}
        :points="{{ points|json_encode }}"
        :publish-button-always-active="{{ publishButtonAlwaysActive ? "true" : "false" }}"
        :date-time-picker="{{ dateTimePicker ? 'true' : 'false'}}"
    ></event>
{% endblock %}
