{# CAREFUL : Some client might need to replicate this template #}
{% extends 'communicationAlt/fr/email/notification/base.html.twig' %}
{% block body %}
<table style="width:480px; font-family:{{api_env('EMAILS_FONT')}}, sans-serif;" cellpadding="0" cellspacing="0" summary="" border="0">
    <tr style="margin-bottom:21px; margin-top:19px;">
        <td align="center">
            <table cellpadding="6" cellspacing="6" summary="" border="0">
                <tr>
                    <td align="center">
                        <p style="color:{{api_env('EMAILS_COLOR_PRIMARY')}}; font-size:22px;" text-align="center" ><b>Nouvelle demande de contact</b></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="height:15px">
            <p> </p>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table style="width:100%;" cellpadding="2" cellspacing="2" summary="" border="0" >
                <tr>
                    <td align="left">
                        <p style="font-size:13px; margin-bottom:16px;">Bonjour {{context.user.givenName|capitalize}} {{context.user.shortFamilyName|capitalize}},</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table style="width:100%;" cellpadding="2" cellspacing="2" summary="" border="0" >
                <tr>
                    <td>
                        <p style="font-size:13px; text-align:justify;">Une personne inscrite sur <strong>{{ context.origin }}</strong> souhaite vous solliciter pour un covoiturage.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size:13px; text-align:justify;">Ce message concerne votre trajet de <strong>{{ context.journeyOrigin }}</strong> à <strong>{{ context.journeyDestination }}</strong>{% if context.journeyDate != '' and context.journeyTime != '' %} prévu le {{ context.journeyDate }} à {{ context.journeyTime }}{% endif %}.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table style="width:100%; border-style:solid; border-width:0.5px; border-color:grey; margin-bottom:16px;" cellpadding="6" cellspacing="6" summary="" border="0" >
                <tr>
                    <td style="width:5px">
                        <p> </p>
                    </td>
                    <td>
                        <p style="font-size:13px; text-align:justify;"><strong>Son message :</strong></p>
                        <hr />
                        <p style="font-size:13px;">{{ context.text | nl2br }}</p>
                        <hr />
                    </td>
                    <td style="width:5px">
                        <p> </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="height:15px">
            <p> </p>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table style="width:100%;" cellpadding="2" cellspacing="2" summary="" border="0" >
                <tr>
                    <td align="left">
                        <p style="font-size:13px; text-align:justify;">Cette personne étant inscrite sur une autre plateforme de covoiturage, vous ne pouvez pas lui répondre via Mobicoop</p>
                        <p style="font-size:13px; text-align:justify;">En revanche, vous pouvez utiliser les coordonnées qu'elle vous a, en principe, transmises dans son message pour la contacter directement.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <table style="width:100%;" cellpadding="2" cellspacing="2" summary="" border="0" >
                <tr>
                    <td align="left">
                        <p style="font-size:13px; margin-bottom:16px; text-align: justify;">"A bientôt sur <a style="color:{{api_env('EMAILS_COLOR_SECONDARY')}}" href="{{api_env('EMAILS_PLATFORM_URL')}}">Mobicoop</a></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td style="height:15px">
            <p> </p>
        </td>
    </tr>
</table>
{% endblock %}



