{% extends '@Mobicoop/base.html.twig' %}

{% block title %}
  {% trans from 'ui' %}user.messages.title{% endtrans %} - {{ app_name }}
{% endblock %}
{% block stylesheets %}
  {#{{ encore_entry_link_tags("#{assets_prefix ?? ''}user/messages") }}#}
{% endblock %}

{% block main %}
      <Messages
        :user="{{ user|json_encode }}"
        :id-user="{{ idUser }}"
        email-user="{{ emailUser }}"
        :unread-carpool-messages="{{ unreadCarpoolMessages }}"
        :unread-direct-messages="{{ unreadDirectMessages }}"
        :unread-solidary-messages="{{ unreadSolidaryMessages }}"
        :id-thread-default="{{ (idThreadDefault) ? idThreadDefault : 'null' }}"
        :new-thread="{{ newThread|json_encode }}"
        :given-id-message="{{ idMessage ? idMessage : 'null' }}"
        :given-id-recipient="{{ idRecipient ? idRecipient : 'null' }}"
        :given-id-ask="{{ idAsk ? idAsk : 'null' }}"
        :solidary-display = "{{ solidaryDisplay ? "true" : "false" }}"
        :fraud-warning-display = "{{ fraudWarningDisplay ? "true" : "false" }}"
        :eec-display="{{ displayCee ? 'true' : 'false' }}"
        default-thread-tab="{{ defaultThreadTab ? defaultThreadTab : 'null' }}"
      />
{% endblock %}
