{# @var community \Mobicoop\Bundle\MobicoopBundle\Community\Entity\Community #}
{% extends '@Mobicoop/base.html.twig' %}

{% block title %}{% trans with {'CommunityName': community.name} from 'meta' %}meta.community.title{% endtrans %}{% endblock %}
{% block desc %}{% trans with {'CommunityName': community.name} from 'meta' %}meta.community.description{% endtrans %}{% endblock %}
{% block stylesheets %}
    {#{{ encore_entry_link_tags("#{assets_prefix ?? ''}community/community") }}#}
{% endblock %}
{% block main %}
    <community
        :community="{{ community|json_encode }}"
        :geodata="{{ {'geocompleteuri':geoCompleteUri, 'searchroute':searchRoute}|json_encode }}"
        :geo-complete-results-order="{{geoCompleteResultsOrder|json_encode}}"
        :geo-complete-palette="{{geoCompletePalette|json_encode}}"
        {{ geoCompleteChip ? 'geo-complete-chip' : '' }}
        :user="{{ app.user|json_encode }}"
        :map-provider="{{ mapProvider|json_encode }}"
        :url-tiles="{{ urlTiles|json_encode }}"
        :attribution-copyright="{{ attributionCopyright|json_encode }}"
        url-alt-avatar="{{ community.defaultAvatar }}"
        {{ searchRegular ? 'regular' : '' }}
        {{ searchPunctualDate ? 'punctual-date-optional' : '' }}
        :user-community-status="{{ communityUserStatus }}"
        :is-member="{{ isMember ? "true" : "false" }}"
        :url-admin="{{urlAdmin|json_encode}}"
        :can-access-admin-from-community="{{canAccessAdminFromCommunity}}"
        :publish-button-always-active="{{ publishButtonAlwaysActive ? "true" : "false" }}"
        :direct-message="{{ communityUserDirectMessage ? "true" : "false" }}"
        :date-time-picker="{{ dateTimePicker ? 'true' : 'false'}}"
        :community-widget="{{ communityWidget ? 'true' : 'false'}}"
    ></community>
{% endblock %}
